h1{
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    margin-top: -30px;
/* margin-right: 1260px; */
    text-transform: uppercase;
    background-size: auto;
    /* margin-left: 300px; */
    /* margin-bottom: -36px; */
    color: white;
    width: 100%;
    text-align: center;
    /* margin-top: -10px; */
}
nav li a{
    float: right;
    color: white;
    font-size: 20px;
  }
  nav li a:hover{
    padding: 2px;
    background-color: skyblue;
    border-radius: 5px;
  }  
ul{
    list-style: none;
    background-color: skyblue;
    /* margin-right: 1500px; */
    font-size: 36px ;
    }
table{
margin: auto;
margin-left: 800px;
margin-top:-250px;
width: 460px;
height: 90px;

}
table, th, td{
    border: 1px  solid black;
    font-size: 26px;
}
th{
    background-color: black;
    color: white;
}
form{
    font-size: 30px;
}
p{
    font-style: bold;
}
body{
    background-color: skyblue;
}

